# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environments
.env
.venv/
venv/
ENV/
env/
*.env

# VSCode / PyCharm
.vscode/
.idea/

# Logs
*.log

# Build / Dist
build/
dist/
*.egg-info/
*.egg

# OS / System
.DS_Store
Thumbs.db

# Databases / Cache
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/

# uv / Poetry
.uv/
